@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: rgb(235, 237, 239); /* Set the color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: rgb(161, 161, 162); /* Set the color of the scrollbar thumb */
    border-radius: 5px; /* Set the border radius of the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(120, 120, 124); /* Set the color of the scrollbar thumb */
    border-radius: 5px; /* Set the border radius of the thumb */
}

*{
    -webkit-tap-highlight-color: transparent;
}


.each-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.each-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


